/* -----------------------
google fonts imported
--------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*--------------------
utility classes
----------------------*/

.dflex {
    display: flex;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 20px;
    padding: 10px 24px;
    color: white;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    background-color: #E02C6D;
    cursor: pointer;
}

.btn i {
    color: white;
}


/* style starting */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 25px 120px 0 120px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a,
i {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
}


/* top banner  */

.container {
    width: 50%;
}

.container h2 {
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}

.bannerimg img {
    width: 87%;
    background: url("./images/Circle\ design.svg") no-repeat;
    display: block;
    margin: auto;
}

.logos {
    margin: 100px 0px;
}

.logo {
    padding: 10px 34px;
}


/* cart section starting here */

.cart img {
    /* width: 300px;
    height: 256px; */
    display: block;
    margin: auto;
}

#cartSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 14px;
    margin: 10px;
}

.cart h3 {
    font-size: 28px;
    line-height: 7px;
}

.cart h4 {
    font-size: 24px;
    line-height: 7px;
}

.cart p {
    font-size: 14px;
    line-height: 143%;
}

.filled {
    color: #FB8200;
}

.empty {
    color: rgb(182, 163, 141);
}

.seeMore,
.seeMore i {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    color: #E02C6D;
    font-size: 20px;
    cursor: pointer;
}

.seeMore a {
    text-decoration: none;
    color: #E02C6D;
}

.bonusSec {
    display: flex;
    justify-content: center;
}

.comingProduct {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 34px;
    padding: 10px;
}

.bonusSec img {
    width: 280px;
    height: 226px;
    display: block;
    margin: auto;
}

.bonusSec input {
    padding: 10px;
    width: 210px;
    border: none;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: block;
    margin: 4px auto;
}

.bonusSec .btn {
    padding: 5px 20px;
    display: block;
    margin: auto;
}

#footer {
    background: #0A0826;
    color: white;
    text-align: center;
    margin: 0px;
    padding-bottom: 34px;
}

#footer h6 {
    font-size: 2em;
    margin: 0;
    padding: 10px;
}

#footer i {
    color: white;
}


/*----------------------
Responsiv    for         mobile 
-----------------------*/

@media only screen and (max-width:576px) {
    /* utility classes */
    .dflex {
        flex-direction: column-reverse;
    }
    .btn {
        font-size: 13px;
        line-height: 20px;
    }
    /* main stye */
    body {
        margin: 0;
    }
    header {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    header a {
        padding: 5px 7px;
    }
    .logos {
        margin: 66px 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo {
        padding: 10px;
    }
    .container {
        width: 100%;
        text-align: center;
    }
    .container img {
        width: 45%;
    }
    .container h1 {
        font-size: 1.45em;
    }
    .container h2 {
        font-size: 20px;
        line-height: 28px;
    }
    #cartSection {
        grid-template-columns: repeat(1, 1fr);
    }
    .cart img {
        width: 200px;
    }
    .bonusSec {
        flex-direction: column;
    }
}

@media only screen and (max-width:768px) and (min-width:577px) {
    body {
        margin: 0;
    }
    #cartSection {
        grid-template-columns: repeat(2, 1fr);
    }
    .dflex {
        flex-direction: column-reverse;
    }
    .container {
        width: 100%;
        padding: 34px;
    }
    .container img {
        width: 55%;
    }
    .logos {
        flex-direction: row;
        margin: 50px 0;
        flex-wrap: wrap;
    }
    .bonusSec {
        flex-direction: column;
    }
    .comingProduct {
        display: block;
        margin: 30px auto;
    }
}